<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doppioni</title>
	<!-- -->
	<meta charset="UTF-8">
	<!-- -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/loghi/173-1735698_png-file-svg-ranking-icon-png.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body>
	
	<script>
		function toggle(numeroRiga) {
		  var x = document.getElementById("tabellino"+numeroRiga);
		  if (x.style.display === "none") {
			x.style.display = "";
			document.getElementById("plusminus"+numeroRiga).src='images/icons/minus.png';
		  } else {
			x.style.display = "none";
			document.getElementById("plusminus"+numeroRiga).src='images/icons/plus.png';
		  }
		}
	</script>
	
	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100"  style="width: 620px" >
				<div class="table100 ver1 m-b-110" style="padding-top: 5px;">
						<div><a href="index.html"><img src="images/icons/home.png"></a></div>
						<div style="text-align: center;"><h1>Possibili Doppioni</h1></div>
						<table>
							<thead>
							<tr class="head">
									<th class="column10"></th>
									<th class="column10">Id</th>
									<th class="column10">Nominativo</th>
									<th class="column10" colspan="2">Eventi disputati</th>					
								</tr>
							</thead>
							<tbody>
								#foreach( $scorePlayer in $scorePlayers )
									#if ($foreach.count % 2 == 1)
										<tr class="body" style="background-color: #ffecb3; font-weight: bold;">
									#else
										<tr class="body" style="background-color: #ffdf80; font-weight: bold;">
									#end
										<td class="column10" onclick="toggle($scorePlayer.getAnagraficaGiocatore().getId())"><img id="plusminus$scorePlayer.getAnagraficaGiocatore().getId()" src="images/icons/plus.png" title="Espandi il tabellino"> </td>
										<td class="column10"><a name="$scorePlayer.getAnagraficaGiocatore().getId()">$scorePlayer.getAnagraficaGiocatore().getId()</a></td>
										<td>$Capitalize.capitalize($scorePlayer.getAnagraficaGiocatore().getNome()) $Capitalize.capitalize($scorePlayer.getAnagraficaGiocatore().getCognome())</td>
										<td>$scorePlayer.tabelliniPlayer.size()</td>
										<td><table id="tabellino$scorePlayer.getAnagraficaGiocatore().getId()" style="display: none;"><tr>
										#foreach( $tabellinoPlayer in $scorePlayer.tabelliniPlayer )

										#if ($foreach.count % 1 == 0)
											</tr>
											<tr>
										#end
										#set ($urlTorneo = $htmlPublisher.getTorneoPage($tabellinoPlayer.torneo.torneoRow.idTorneo)+".html" )
											<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)"><img src="images/loghi/rcu/${tabellinoPlayer.torneo.torneoRow.organizzatore} (Custom).png" title="$tabellinoPlayer.torneo.torneoRow.organizzatore" alt="$tabellinoPlayer.torneo.torneoRow.organizzatore"></td>
											<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)"><a style="color: inherit; cursor: pointer;"  href="TORNEI/$urlTorneo" target="_blank">$tabellinoPlayer.torneo.torneoRow.nomeTorneo</a></td>
											<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">$tabellinoPlayer.torneo.torneoRow.startDate</td>
											<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">$tabellinoPlayer.torneo.torneoRow.endDate</td>
											<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">
											#if($tabellinoPlayer.posizioneRaggiunta)
												$tabellinoPlayer.posizioneRaggiunta°
											#else
												/
											#end
											</td>
					
										#end
									</tr>
									</table></td>
								</tr>
								#end
							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>