<!DOCTYPE html>
<html lang="it">
<head>
	<title>Ranking</title>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../images/loghi/173-1735698_png-file-svg-ranking-icon-png.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/buttons.css">		
<!--===============================================================================================-->
</head>
<body>
	<script>
		function toggle(numeroRiga) {
		  var x = document.getElementById("tabellino"+numeroRiga);
		  if (x.style.display === "none") {
			x.style.display = "";
			document.getElementById("plusminus"+numeroRiga).src='../images/icons/minus.png';
		  } else {
			x.style.display = "none";
			document.getElementById("plusminus"+numeroRiga).src='../images/icons/plus.png';
		  }
		}
		
		function changeYear(){
	  		var myselect = document.getElementById("selectYear");
  			var url = myselect.options[myselect.selectedIndex].value;
			document.location.href = url;
		}
	</script>
	
	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100"  style="width: 1366px" >
				<div class="table100 ver1 m-b-110" style="padding-top: 5px;">
						<div><a href="../index.html"><img src="../images/icons/home.png"></a>
							<a href="../anagraficheDaVerificare.html"><img src="../images/icons/cloni.png" title="anagrafiche da verificare"></a>
<!--							
							#foreach( $year in $years )
								#set ($urlRanking = "ranking"+$year+".html")
								<a href="$urlRanking" class="rankingYearButton">$year</a>
							#end						
-->
							<select id="selectYear" onChange="changeYear()">
								#foreach( $anno in $years )
									#set ($urlRanking = "ranking"+$anno+".html")
									<option value="$urlRanking" #if ($anno == $year)selected#end>$anno</option>
								#end
							</select> 
							<span style="float: right; font-size: 12px;">Ultimo aggiornamento: $data</span>	
						</div>
						<div style="text-align: center;"><img src="../images/loghi/ranking_360x171.png"><div class="yearButton">$year</div></div>
						<table>
							<thead>
								<tr class="head">
									<th class="column10" colspan="5"></th>
									<th class="column10" colspan="2" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))">Raduno nazionale</th>
									<th class="column10" colspan="2" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))">Torneo Master</th>		
									<th class="column10" colspan="2" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))">Torneo Open</th>						
									<th class="column10" colspan="2" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))">Torneo Interclub</th>
									<th class="column10" colspan="2" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))">Campionato periodico</th>								
									<th class="column10" colspan="4"></th>								
								</tr>
								<tr class="head">
									<th class="column10" colspan="5"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))"><img src="../images/icons/total.png" title="Totale"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))"><img src="../images/icons/barrier.png" title="Limite"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))"><img src="../images/icons/total.png" title="Totale"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))"><img src="../images/icons/barrier.png" title="Limite"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))"><img src="../images/icons/total.png" title="Totale"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))"><img src="../images/icons/barrier.png" title="Limite"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))"><img src="../images/icons/total.png" title="Totale"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))"><img src="../images/icons/barrier.png" title="Limite"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))"><img src="../images/icons/total.png" title="Totale"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))"><img src="../images/icons/barrier.png" title="Limite"></th>									
									<th class="column10" colspan="4"></th>									
								</tr>
								<tr class="head">
									<th class="column10" colspan="5"></th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))">$mappaConteggiTipoTorneo.get($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))">$mappaSoglieTipoTorneo.get($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))">$mappaConteggiTipoTorneo.get($Enum.valueOf($TipoTorneo, "MASTER"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))">$mappaSoglieTipoTorneo.get($Enum.valueOf($TipoTorneo, "MASTER"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))">$mappaConteggiTipoTorneo.get($Enum.valueOf($TipoTorneo, "OPEN"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))">$mappaSoglieTipoTorneo.get($Enum.valueOf($TipoTorneo, "OPEN"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))">$mappaConteggiTipoTorneo.get($Enum.valueOf($TipoTorneo, "INTERCLUB"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))">$mappaSoglieTipoTorneo.get($Enum.valueOf($TipoTorneo, "INTERCLUB"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))">$mappaConteggiTipoTorneo.get($Enum.valueOf($TipoTorneo, "CAMPIONATO"))</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))">$mappaSoglieTipoTorneo.get($Enum.valueOf($TipoTorneo, "CAMPIONATO"))</th>																												
									<th class="column10" colspan="4"></th>								
								</tr>
								<tr class="head">
									<th class="column10"></th>
									<th class="column10">Pos.</th>
									<th class="column10">Id</th>
									<th>Nominativo</th>
									<th class="column10">Punti Ranking</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))">disputati</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "RADUNO_NAZIONALE"))">Pti Rnk</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))">disputati</th>		
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "MASTER"))">Pti Rnk</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))">disputati</th>								
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "OPEN"))">Pti Rnk</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))">disputati</th>	
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "INTERCLUB"))">Pti Rnk</th>
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))">disputati</th>	
									<th class="column10" style="$styleGenerator.getStyle($Enum.valueOf($TipoTorneo, "CAMPIONATO"))">Pti Rnk</th>								
									<th class="column10">Tornei giocati</th>
									<th class="column10">Partite giocate</th>
									<th class="column10">Partite vinte</th>
									<th class="column10">Media Vittoria</th>									
								</tr>
							</thead>
							<tbody>

								#foreach( $scorePlayer in $scorePlayers )
							
								#if ($scorePlayer.isSqualificato())
								<tr class="body" style="background-color: #95a5a6 ; font-weight: bold; text-decoration: line-through">
								#else
									#if ($foreach.count % 2 == 1)
									<tr class="body" style="background-color: #ffecb3; font-weight: bold;">
									#else
									<tr class="body" style="background-color: #ffdf80; font-weight: bold;">
									#end
								#end
									<td class="column10" onclick="toggle($scorePlayer.getAnagraficaGiocatore().getId())"><img id="plusminus$scorePlayer.getAnagraficaGiocatore().getId()" src="../images/icons/plus.png" title="Espandi il tabellino"> </td>
									<td class="column10">$foreach.count</td>
									<td class="column10"><a name="$scorePlayer.getAnagraficaGiocatore().getId()">$scorePlayer.getAnagraficaGiocatore().getId()</a></td>
									<td>$Capitalize.capitalize($scorePlayer.getAnagraficaGiocatore().getNome()) $Capitalize.capitalize($scorePlayer.getAnagraficaGiocatore().getCognome())</td>
									<td class="column10">$scorePlayer.getScoreRanking()</td>
									<td class="column10">$scorePlayer.getTabellinoRaduniNazionali().numeroTorneiDisputati</td>
									<td class="column10">$scorePlayer.getTabellinoRaduniNazionali().scoreRanking</td>
									<td class="column10">$scorePlayer.getTabellinoTorneiMaster().numeroTorneiDisputati</td>
									<td class="column10">$scorePlayer.getTabellinoTorneiMaster().scoreRanking</td>
									<td class="column10">$scorePlayer.getTabellinoTorneiOpen().numeroTorneiDisputati</td>
									<td class="column10">$scorePlayer.getTabellinoTorneiOpen().scoreRanking</td>
									<td class="column10">$scorePlayer.getTabellinoTorneiTorneiInterclub().numeroTorneiDisputati</td>
									<td class="column10">$scorePlayer.getTabellinoTorneiTorneiInterclub().scoreRanking</td>		
									<!--
									<td class="column10">$scorePlayer.getTabellinoCampionatiPeriodici().numeroTorneiDisputati</td>
									-->
									<td class="column10">$scorePlayer.getTabellinoCampionatiPeriodici().numeroTorneiDisputatiEValevoliPerRanking</td>

									<td class="column10">$scorePlayer.getTabellinoCampionatiPeriodici().scoreRanking</td>								
									<td class="column10">$scorePlayer.tabelliniPlayer.size()</td>
									<td class="column10">$scorePlayer.partiteGiocate</td>
									<td class="column10">$scorePlayer.partiteVinte</td>
									#set( $percentualeVittorie = $scorePlayer.partiteVinte * 100 / $scorePlayer.partiteGiocate )
									<td class="column10">$percentualeVittorie%</td>									
								</tr>
								<tr class="body" id="tabellino$scorePlayer.getAnagraficaGiocatore().getId()" style="display: none;">
									<td class="column10" colspan="4"></td>
									<td class="column10" colspan="15">
										<table>
											<thead>
											<tr class="head">
												<th class="column10">Organizzatore</th>
												<th class="column10">Torneo</th>
												<th class="column10">Data Inizio</th>
												<th class="column10">Data Fine</th>
												<th class="column10">Posizione</th>
												<th class="column10">Pti Rnk</th>								
											</tr>
											</thead>
											<tbody>
											#foreach( $tabellinoPlayer in $scorePlayer.tabelliniPlayer )
											#set ($urlTorneo = $htmlPublisher.getTorneoPage($tabellinoPlayer.torneo.torneoRow.idTorneo)+".html" )
											#set ($urlTabellinoClub = "Tabellino"+$htmlPublisher.getTorneoPage($tabellinoPlayer.torneo.torneoRow.organizzatore)+"_"+$year+".html" )
											<tr class="body">
												<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)"><a style="color: inherit; cursor: pointer;"  href="../TABELLINI_CLUB/$urlTabellinoClub" target="_blank"><img src="../images/loghi/rcu/${tabellinoPlayer.torneo.torneoRow.organizzatore} (Custom).png" title="$tabellinoPlayer.torneo.torneoRow.organizzatore" alt="$tabellinoPlayer.torneo.torneoRow.organizzatore"></a></td>
												<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)"><a style="color: inherit; cursor: pointer;"  href="../TORNEI/$urlTorneo" target="_blank">$tabellinoPlayer.torneo.torneoRow.nomeTorneo</a></td>
												<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">$tabellinoPlayer.torneo.torneoRow.startDate</td>
												<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">$tabellinoPlayer.torneo.torneoRow.endDate</td>
												<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">#if($tabellinoPlayer.posizioneRaggiunta)
																																						$tabellinoPlayer.posizioneRaggiunta°
																																					#else
																																						/
																																					#end
																																					</td>
												<td class="column10" style="$styleGenerator.getStyle($tabellinoPlayer.torneo.torneoRow.tipoTorneo)">$tabellinoPlayer.scoreRanking</td>							
											</tr>
											#end
											</tbody>
										</table>
									</td>
								</tr>
								
								#end

							</tbody>
						</table>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="../vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/bootstrap/js/popper.js"></script>
	<script src="../vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="../js/main.js"></script>

</body>
</html>