<!DOCTYPE html>
<html lang="it">
<head>
	<title>Statistiche club annuali</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/loghi/cup-160117_960_720.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/buttons.css">	
<!--===============================================================================================-->
  <style>
  
  /*
  .table-scroll {
	  width: 100%;
	  height: 600px;        /* altezza fissa */
	  overflow: auto;      /* FONDAMENTALE */
	}

	table {
	  border-collapse: collapse;
	  width: max-content;  /* per scroll orizzontale */
	}
}
	*/
	
	
    th, td {
      border: 1px solid #999;
      padding: 6px 10px;
      background: white;
    }

    .sticky-header {
      position: sticky;
      top: 0;
      background: #f2f2f2;
      z-index: 2;
    }

    .sticky-col {
      position: sticky;
      left: 0;
      background: #f9f9f9;
      z-index: 1;
    }

    .sticky-header.sticky-col {
      z-index: 3;
    }
  </style>
</head>
<body>
	<script>
	function changeYear(){
	  var myselect = document.getElementById("selectYear");
  		var url = myselect.options[myselect.selectedIndex].value;
		document.location.href = url;
	}
	</script>
		
	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100" style="width: 1600px">
				<div class="table100 ver1 m-b-110" style="width: 1600px; padding-top: 5px;">
						<div>
							<a href="index.html"><img src="images/icons/home.png"></a>
							<select id="selectYear" onChange="changeYear()">
								#foreach( $anno in $years )
									#set ($urlStatisticheClub = "statisticheClub"+$anno+".html")
									<option value="$urlStatisticheClub" #if ($anno == $year)selected#end>$anno</option>
								#end
							</select> 
							<span style="float: right; font-size: 12px;">Ultimo aggiornamento: $data</span>							
						</div>
						<div style="text-align: center;"><img src="images/loghi/tornei_360x171.png"><div class="yearButton">$year</div></div>
<!--
						<div class="table-scroll-y">
-->
						<table style="border: 1px solid black; border-collapse: collapse;">
							<thead>
								<tr class="head">
									<th class="column10px">Data</th>
									<th class="column10px" colspan=$reportTournaments.selectOrganizzatoriByYear($year).size()>Organizzatore</th>
								</tr>
								<tr class="head">
									<th class="column10px sticky-col sticky-header"></th>
									#foreach( $organizzatore in $reportTournaments.selectOrganizzatoriByYear($year) )
										<th class="column10px sticky-header"><img src="images/loghi/rcu/$organizzatore (Custom).png" style="width: 30px; height: auto;" title="$organizzatore" alt="$organizzatore"></th>								
									#end	
								</tr>
<!--								
								<tr class="head">
									<th class="column10px sticky-col sticky-header">1° Sem.</th>
									#foreach( $organizzatore in $reportTournaments.selectOrganizzatoriByYear($year) )
										<th class="column10px sticky-header">
											<table><tr><th style="font-size: 15px">
											$reportTournaments.getNumeroDatePerSemestre($year, $organizzatore, true)
											</th><th style="font-size: 15px">
											$reportTournaments.getNumeroTavoliPerSemestre($year, $organizzatore, true)
											</th>
											</tr>
											</table>
										</th>									
									#end	
								</tr>
-->
								<tr class="head">
									<th class="column10px sticky-col sticky-header" rowspan="2">1° Sem.</th>
									#foreach( $organizzatore in $reportTournaments.selectOrganizzatoriByYear($year) )
										<th class="column10px sticky-header" style="font-size: 15px">$reportTournaments.getNumeroDatePerSemestre($year, $organizzatore, true)</th>									
									#end	
								</tr>
								<tr class="head">
									#foreach( $organizzatore in $reportTournaments.selectOrganizzatoriByYear($year) )
										<th class="column10px sticky-header" style="font-size: 15px">$reportTournaments.getNumeroTavoliPerSemestre($year, $organizzatore, true)</th>									
									#end	
								</tr>
								<tr class="head">
									<th class="column10px sticky-col sticky-header" rowspan="2">2° Sem.</th>
									#foreach( $organizzatore in $reportTournaments.selectOrganizzatoriByYear($year) )
										<th class="column10px sticky-header" style="font-size: 15px">$reportTournaments.getNumeroDatePerSemestre($year, $organizzatore, false)</th>									
									#end	
								</tr>
								<tr class="head">
									#foreach( $organizzatore in $reportTournaments.selectOrganizzatoriByYear($year) )
										<th class="column10px sticky-header" style="font-size: 15px">$reportTournaments.getNumeroTavoliPerSemestre($year, $organizzatore, false)</th>									
									#end	
								</tr>
							</thead>
							<tbody>
							#foreach( $dataEvento in $reportTournaments.getDateList($year) )
								#set( $indexRow = $foreach.index )
								<tr class="body" style="border: 1px solid black; border-collapse: collapse;">
									<td class="column10px sticky-col" >$dataEvento</td>
									#foreach( $matchByYearAndClubValue in $reportTournaments.getMatrixRow($year, $indexRow) )	
										#if ($matchByYearAndClubValue)
									    	#set( $stileCella = $styleGenerator.getStyle($matchByYearAndClubValue.tipoTorneo) + "border: 1px solid black; border-collapse: collapse;")
									    #else
									    	#set( $stileCella = "border: 1px solid black; border-collapse: collapse;")
									    #end	
										<td class="column10px" style="$stileCella">$!matchByYearAndClubValue.numeroTavoli</td>
									#end
								</tr>
							#end
							</tbody>
						</table>
<!--
						</div>
-->
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>