<!DOCTYPE html>
<html lang="it">
<head>
	<title>Statistiche giocatori</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/loghi/cup-160117_960_720.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/buttons.css">	
<!--===============================================================================================-->
  <script src="js/chart.umd.js"></script>

  <script>
    const histogramData = {
		#foreach($entry in $reportTournaments.getHistogramPlayerByYear($year).entrySet())
		  "$entry.key": $entry.value#if($foreach.hasNext),#end
		#end
  };
  </script>
  
  <style>
	.chart-container {
	  height: 600px;
	}
  </style>

</head>
<body>
	<script>
	function changeYear(){
	  var myselect = document.getElementById("selectYear");
  		var url = myselect.options[myselect.selectedIndex].value;
		document.location.href = url;
	}
	</script>
		
	<div class="limiter">
		<div class="container-table100">			
			<div class="wrap-table100" style="width: 1600px">
				<div class="table100 ver1 m-b-110" style="width: 1600px; padding-top: 5px;">
					<div>
						<a href="index.html"><img src="images/icons/home.png"></a>
						<select id="selectYear" onChange="changeYear()">
							#foreach( $anno in $years )
								#set ($urlStatisticheClub = "statisticheGiocatori"+$anno+".html")
								<option value="$urlStatisticheClub" #if ($anno == $year)selected#end>$anno</option>
							#end
						</select> 
						<button id="exportChart" class="btn btn-primary">
						  Esporta grafico
						</button>
						<span style="float: right; font-size: 12px;">Ultimo aggiornamento: $data</span>							
					</div>
					<div style="text-align: center;"><img src="images/loghi/tornei_360x171.png"><div class="yearButton">$year</div></div>
							#set ($mediana = $reportTournaments.medianFromHistogram($reportTournaments.getHistogramPlayerByYear($year)))
						  <h5 style="text-align: center;">Distribuzione partecipazione giocatori per N° Tornei. Mediana: $mediana</h5>
						<div class="chart-container">
						  <canvas id="histogram"></canvas>
						</div>				
				</div>
			</div>
		</div>
	</div>

  <script>
	const data = histogramData;
	
	const labels = Object.keys(data);
	const values = Object.values(data);
	
	let chart;
	chart = new Chart(document.getElementById('histogram'), {
	  type: 'bar',
	  data: {
	    labels: labels,
	    datasets: [{
	      data: values
	    }]
	  },
	  options: {
	    responsive: true,
       plugins: {
            legend: {
                display: false   // ⛔ niente label
            }
        },	    
  		maintainAspectRatio: false,
	    scales: {
	      x: {
	        title: {
	          display: true,
	          text: 'Numero di partecipazioni'
	        }
	      },
	      y: {
	        title: {
	          display: true,
	          text: 'Numero di player'
	        },
	        beginAtZero: true,
	        ticks: {
	          precision: 0
	        }
	      }
	    }
	  }
	});
</script>

<script>
	const whiteBackgroundPlugin = {
	  id: 'whiteBackground',
	  beforeDraw: (chart) => {
	    const ctx = chart.ctx;
	    ctx.save();
	    ctx.globalCompositeOperation = 'destination-over';
	    ctx.fillStyle = 'white';
	    ctx.fillRect(0, 0, chart.width, chart.height);
	    ctx.restore();
	  }
	};
	
	Chart.register(whiteBackgroundPlugin);
	
	document.getElementById('exportChart').addEventListener('click', () => {
	  const url = chart.toBase64Image();
	  
	  const a = document.createElement('a');
	  a.href = url;
	  a.download = 'istogramma_tornei.png';
	  a.click();
	});	
</script>  



<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>