<!DOCTYPE html>
<html lang="it">
<head>
	<title>Tabellino $club per il $year</title>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="../image/png" href="images/icons/rosso_45px.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../css/util.css">
	<link rel="stylesheet" type="text/css" href="../css/main.css">
	<link rel="stylesheet" type="text/css" href="../css/buttons.css">	
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiterTorneo" style="width: ${width}px;">
		<div class="container-table100" style="width: ${width}px;">
			<table>
			<tr><td> <!-- riga intestazione -->
			<table class="table10 ver1" width="98%"">
				<tr>
					<td width="5%"></td>
					<td width="30%" rowspan="2" style="text-align: left;"><a href="../index.html"><img src="../images/icons/home.png"></a></td>
					<td width="30%" style="text-align: center;"><div class="tournamentsYearButton">$year</div></td>
					<td width="30%" rowspan="2" style="text-align: right;"><img src="../images/loghi/rcu/loghi100px_vert/${club}.png" title="$club" alt="$club"></td>
					<td width="5%"></td>
				</tr>
			</table>
			</td></tr>		
			<tr><td> 
			<div class="wrap-220">
				<table> <!-- tabella giocatori -->
				<thead>
					<tr class="head" style="background-color: #E81E1E; color: white;">
						<th class="column10" style="font-weight: bold; text-align: center;">ID Nazionale</th>
						<th class="column10" style="font-weight: bold; text-align: left;">Nome e Cognome</th>
						<th colspan="100" class="column10" style="font-weight: bold; text-align: center;">TORNEI</th>
					</tr>
				</thead>
				<tbody>
				#foreach( $clubPlayerData in $clubPlayersData )
					#if ($foreach.count % 2 == 1)
					<tr class="body" style="background-color: #c0c0c0;">
					#else
					<tr class="body" style="background-color: #E0E0E0;">
					#end
					<td style="font-weight: bold; text-align: center;">$clubPlayerData.anagraficaGiocatoreRow.id</td>
					<td style="font-weight: bold; text-align: left;">$Capitalize.capitalize($clubPlayerData.anagraficaGiocatoreRow.nome) $Capitalize.capitalize($clubPlayerData.anagraficaGiocatoreRow.cognome) [$clubPlayerData.overallRanking]</td>
							#foreach( $torneoDisputato in $clubPlayerData.torneiDisputati2 )
							#set ($urlTorneo = $htmlPublisher.getTorneoPage($torneoDisputato.torneoPubblicato.torneoRow.idTorneo)+".html" )
							<td class="column10">
							#*
								<a style="color: inherit; cursor: pointer;"  href="../TORNEI/$urlTorneo" target="_blank">#parse("BoxTorneo.vm")</a>
							*#
								<div class="torneoButton" style="$styleGenerator.getStyle($torneoDisputato.torneoPubblicato.torneoRow.tipoTorneo);">
									<a style="color: inherit; cursor: pointer;"  href="../TORNEI/$urlTorneo" target="_blank">
										<u>
										$torneoDisputato.torneoPubblicato.torneoRow.endDate
										</u>
										<br/>
										<i>
										$Capitalize.capitalize($torneoDisputato.torneoPubblicato.torneoRow.nomeTorneo)
										<i>
										<br/>
										#if ($clubPlayerData.getPosizione($torneoDisputato.torneoPubblicato))
											<b>
											$clubPlayerData.getPosizione($torneoDisputato.torneoPubblicato)°
											</b>
											<span>
											[$torneoDisputato.rankingScore]
											</span>
										#end
									</a>
								</div>
							</td>
							#end
				</tr>
				#end
				</tbody>
				</table>
			</div>
			</td></tr>		
			</table>
		</div>
	</div>


<!--===============================================================================================-->	
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function(){
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function(){
				ps.update();
			})
		});
			
		
	</script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>